h1 {
  white-space: pre-line;
}

.page-1 {
  /* width: 50vw;  */
  height: 100vh;
  text-align: center;
  /* vertical-align: middle; */
  /* line-height: 100vh; */
  background: #000;
  color: #fefefe;
  border-radius: 0;
}

.page-1-content {
  /* 타 기기 테스트 후 정함 */
  /* transform: translateY(200%); */
  padding-top: 37vh;
}