@charset "UTF-8";
h1 {
  white-space: pre-line; }

ul li {
  list-style: none; }

.to-bottom {
  background: none;
  color: #fefefe;
  border: none;
  width: 100%;
  position: absolute;
  bottom: 3%;
  cursor: pointer; }

.page-1 {
  /* width: 50vw;  */
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefefe; }

.page-1-content {
  /* 타 기기 테스트 후 정함 */
  /* transform: translateY(200%); */ }

.page-2 {
  /* width: 50vw;  */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000; }

.page-2-content {
  /* 타 기기 테스트 후 정함 */
  /* transform: translateY(200%); */ }

.page-3 {
  /* width: 50vw;  */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefefe; }

.page-3-content {
  /* 타 기기 테스트 후 정함 */
  /* transform: translateY(200%); */ }

.page-4 {
  /* width: 50vw;  */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000; }

.page-4-content {
  /* 타 기기 테스트 후 정함 */
  /* transform: translateY(200%); */ }
